* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	width: 100%;
}

a {
    text-decoration: none;
	vertical-align: bottom;
}

a img {
	border-style: none;
	border: 0;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 80%;
	width: 100%;
    padding-top: 8px;
	background: #1a3e51;
	min-width: 100%;
	min-height: 1866px;
    font-size: 17px;
}

img {
    display: inline-block;
}

.solid_background {
    border: 30px solid transparent;
    -moz-border-image: url("images/shadow_inset_top.png") 30 stretch;
    -webkit-border-image: url("images/shadow_inset_top.png") 30 stretch;
    -o-border-image: url("images/shadow_inset_top.png") 30 stretch;
    border-image: url("images/shadow_inset_top.png") 30 stretch;
    border-bottom: none;

    background-color: #2c2c2c;
}

.top_blue_background {
    background-image: url("images/wallpaper_top.png");
    background-repeat: no-repeat;
}

.bottom_blue_background {
    border-top: 30px solid transparent;
    -moz-border-image: url("images/shadow_inset_bottom.png") 30 0 stretch;
    -webkit-border-image: url("images/shadow_inset_bottom.png") 30 0 stretch;
    -o-border-image: url("images/shadow_inset_bottom.png") 30 0 stretch;
    border-image: url("images/shadow_inset_bottom.png") 30 0 stretch;
    border-image-outset: 30px;

    background-image: url("images/wallpaper_bottom.png");
    background-position: center -210px;
    background-repeat: repeat-x;
}

#main {
	position:relative;
	margin: auto;
}

#title_section {
    min-height: 600px;
    max-height: 600px;
    padding-left: 100px;
    padding-right: 100px;
}

#title {
    padding-top: 140px;
}

#title_text_section {
    max-width: 360px;
    min-width: 360px;
}

#logo_image {
    margin-left: -8px;
}

#headline {
    padding-top: 34px;
    font-size: 20px;
}

#email_signup {
    padding-top: 34px;
    padding-bottom: 64px;
}

#signup_text {
    float: left;
    height: 50px;
    width: 250px;
    border: 2px solid transparent;
    border-radius: 5 0 0 5;
    font-size: 16px;
    padding: 10px;
    background-color: #ffffff;
    color: #aaaaaa;
}

#signup_button {
    float: left;
    height: 50px;
    width: 95px;
    border: 2px solid transparent;
    background-color: #2762cb;
    border-radius: 0 5 5 0;
    font-size: 16px;
}

#signup_button:hover {
    cursor: hand;
    background-color: #204fa1;
}

#seperator {
    padding-top: 16px;
    padding-bottom: 44px;
}

#download_links {
    margin: auto;
}

.download_link {
    opacity: 0.3;
}

.download_link:hover {
    opacity: 1.0;
    cursor: wait;
}

#android_link {
    padding-right:10px;
}

#phone_image_div {
    float: right;
    position: relative;
}

#phone_image {
    top: 44px;
    left: 60px;
    position: absolute;
    z-index: 1;
}

#description_section {
    min-height: 494px;
    padding-left: 50px;
    padding-right: 40px;
}

#laptop_image_div {
    float: left;
    position: relative;
}

#laptop_image {
    top: 50px;
    left: -40px;
    position: absolute;
    z-index: 1;
}

#description_text_section {
    float: right;
    padding-left: 64px;
}

#tagline {
    padding-top: 90px;
}

#more_details {
    padding-top: 30px;
}

#details_section {
    min-height: 380px;
    display: inline-block;
    margin: auto;
    padding-left: 60px;
}

#video_section {
    min-height: 270px;
    padding-top: 60px;
    padding-left: 200px;
    padding-right: 200px;
}

#video_image {
    padding-top: 10px;
}

#footer {
    height: 114px;
    padding-left: 60px;
    padding-right: 60px;
}

#footer_background {
    border-top: 30px solid transparent;
    -moz-border-image: url("images/shadow_inset_bottom.png") 30 0 stretch;
    -webkit-border-image: url("images/shadow_inset_bottom.png") 30 0 stretch;
    -o-border-image: url("images/shadow_inset_bottom.png") 30 0 stretch;
    border-image: url("images/shadow_inset_bottom.png") 30 0 stretch;
    border-image-outset: 30px;
}

#footer > span {
    margin-top: 10px;
    color: #bdbdbd;
}

.contact_link {
   color: #6e6e6e;
   margin-left: 8px;	
}

.contact_link:hover {
    cursor: hand;
    color: #2374b0 !important;
}

#contact_info {
    float: left;
}

#copyright {
    float: right;	
}

#partners {
	float: right; 
	padding-top: 16px;
}

.section_background {
    width: 100%;
    background-size: 100%;
    min-width: 1070px;
}

.section {
    min-width: 1024px;
    max-width: 1024px;
    margin: auto;
}

.left_section {
    float: left;
    width: 55%;
}

.right_section {
    float: right;
    width: 45%;
}

.feature_section {
    float: left;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.feature_icon > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.feature_name {
    text-align: center;
    margin-bottom: 20px;
}

.feature_description {
    width: 200px;
    text-align: center;
}

.video_sub_section {
    float: left;
    width: 50%;
}

.heading {
    font-size: 32px;
}

.text {
    color: #f0f0f0;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
}

.sub_text {
    color: #828282;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
}