* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: open_sans;
    color: #FFFFFF;
	src: url('fonts/OpenSans.ttf');
}

a img {
	border-style: none;
	border: 0;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 80%;
	width: 100%;
	background: #1E1E1E;
	min-width: 1360px;
	min-height: 1866px;
}

.gradient_background {
    background-image: -webkit-radial-gradient(circle, #5A5A5B, #1E1E1E);
    background-image: -moz-radial-gradient(circle, #5A5A5B, #1E1E1E);
	background-image: -ms-radial-gradient(circle, #5A5A5B, #1E1E1E);
	background-image: -o-radial-gradient(circle, #5A5A5B, #1E1E1E);
	background-repeat: no-repeat;
}

#main {
	position:relative;
	margin: auto;
}